.contacts {
  margin: 0 auto;
  padding: 120px 103px 113px;
  max-width: 1366px;
  box-sizing: border-box;

  @include vp-1365 {
    padding: 100px 45px 93px;
  }

  @include vp-767 {
    padding: 58px 15px 53px;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;

  @include vp-1365 {
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.contacts__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;

  h3 {
    margin: 0 0 32px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  p,
  a {
    position: relative;
    padding-left: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &::before {
      position: absolute;
      left: 0;
      content: "";
      display: block;
      background-repeat: no-repeat;
    }
  }

  p {
    margin: 0 0 20px 0;

    &::before {
      width: 18px;
      height: 22px;
      background-image: url("../img/svg/address.svg");
    }
  }

  a {
    display: block;

    &:hover {
      color: $color-on-dark-hover;
    }

    &:active {
      color: $color-on-dark-active;
    }

    &:focus {
      color: $color-on-dark-focus;
    }

    &::before {
      top: 2px;
      width: 18px;
      height: 18px;
      background-image: url("../img/svg/phone.svg");
    }
  }

  @include vp-1365 {
    padding-bottom: 9px;
    
    h3 {
      margin-bottom: 30px;
    }
  }

  @include vp-767 {
    order: 1;

    h3 {
      padding-right: 5px;
    }
  }
}

.contacts__map {
  iframe {
    width: 560px;
    height: 306px;
    border: none;
    background-color: $color-default-light;
  }

  @include vp-1365 {
    iframe {
      width: 324px;
      height: 335px;
    }
  }

  @include vp-767 {
    order: 2;

    iframe {
      width: 290px;
      height: 316px;
    }
  }
}

.contacts__map.no-js {
  position: relative;
  width: 560px;
  height: 306px;
  background-image: url("../img/map-bg-d.jpg");

  &::before {
    position: absolute;
    top: 217px;
    left: 249px;
    content: "";
    display: block;
    width: 18px;
    height: 22px;
    background-image: url("/img/svg/address.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  iframe {
    display: none;
  }

  @include vp-1365 {
    width: 324px;
    height: 335px;
    background-image: url("../img/map-bg-t.jpg");

    &::before {
      top: 218px;
      left: 109px;
    }
  }

  @include vp-767 {
    width: 290px;
    height: 316px;
    background-image: url("../img/map-bg-m.jpg");

    &::before {
      top: 226px;
      left: 112px;
    }
  }
}
