.greeting {
  background-color: #0f7595;
  background-position: center;
  background-size: cover;
  background-image: url("../img/greeting-bg-d@1x.jpg");

  @media (min-width: 1366px) {
    @include retina {
      background-image: url("../img/greeting-bg-d@2x.jpg");
    }
  }

  @include vp-1365 {
    min-height: 638px;
    background-image: url("../img/greeting-bg-t@1x.jpg");

    @include retina {
      background-image: url("../img/greeting-bg-t@2x.jpg");
    }
  }

  @include vp-767 {
    min-height: 500px;
    background-image: url("../img/greeting-bg-m@1x.jpg");

    @include retina {
      background-image: url("../img/greeting-bg-m@2x.jpg");
    }
  }
}

.greeting__wrapper {
  display: grid;
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
  min-height: 658px;
}

.greeting__text-wrapper {
  margin-left: 199px;
  align-self: center;
  color: $color-default-light;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
  }

  p {
    margin: 12px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  br {
    display: none;
  }

  @include vp-1365 {

    margin-left: 45px;
    margin-right: 45px;
    text-shadow: none;

    h1 {
      font-size: 50px;
      line-height: 61px;
    }

    p {
      font-size: 18px;
      line-height: 22px;
    }
  }

  @include vp-767 {
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;

    h1 {
      font-size: 36px;
      line-height: 45px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
    }

    br {
      display: inline;
    }
  }
}
