@mixin retina {
  @media (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin vp-1023 {
  @media (max-width: $vp-1024 - 1) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: $vp-768 - 1) {
    @content;
  }
}

//typography
@mixin main-menu-desktop-typo {
  font: {
    family: $font-default;
    weight: 500;
    size: 16px;
  };
  line-height: 19px;
  color: $color-default-light;
}

@mixin main-menu-tablet-typo {
  font: {
    family: $font-default;
    weight: 500;
    size: 14px;
  };
  line-height: 17px;
  color: $color-default-light;
}

@mixin main-menu-mobile-typo {
  font: {
    family: $font-default;
    weight: 500;
    size: 18px;
  };
  line-height: 22px;
  color: $color-default-dark;
}

@mixin footer-menu-desktop-typo {
  font: {
    family: $font-default;
    weight: 500;
    size: 16px;
  };
  line-height: 20px;
  color: $color-default-light;
}

@mixin footer-menu-tablet-mobile-typo {
  font: {
    family: $font-default;
    weight: 500;
    size: 12px;
  };
  line-height: 15px;
  color: $color-default-light;
}
