// Colors
// ---------------------------------

// Default

$color-default-dark:                #011c40;
$color-default-light:               #f9fbfd;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

// Viewports
// ---------------------------------

$vp-768:                            768px;
$vp-1366:                           1366px;

// Retina
// ---------------------------------

$retina-dppx:                       1.5dppx;

// Fonts
// ---------------------------------
$font-default:                      "Montserrat", "Arial", sans-serif;
$fs-default:                         16px;
