// Colors
// ---------------------------------

// Default

$color-default-dark:                #011c40;
$color-default-light:               #f9fbfd;
$color-on-light-hover: #f1dca7;
$color-on-light-active: #b5a1b7;
$color-on-light-focus: #d38df5;
$color-on-dark-hover: #3341b0;
$color-on-dark-active: #7c1293;
$color-on-dark-focus: #b608ef;
// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

// Viewports
// ---------------------------------

$vp-768:                            768px;
$vp-1024:                           1024px;

// Retina
// ---------------------------------

$retina-dppx:                       1.5dppx;

// Fonts
// ---------------------------------
$font-default:                      "Montserrat", "Arial", sans-serif;
$fs-default:                         16px;
